#global-footer {
   font-size: 12px;
   line-height: 1.33337;
   font-weight: 400;
   letter-spacing: -.01em;
   font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
   background-color: #f5f5f7;
   color: #1d1d1f;
   min-width: 1024px;
   overflow: hidden;
   position: relative;
   z-index: 1
}

@media only screen and (max-width: 1044px) {
   #global-footer {
      min-width: 320px
   }
}

#global-footer h3 {
   color: inherit
}

#global-footer a {
   color: #515154;
   text-decoration: none
}

#global-footer a:hover {
   color: #1d1d1f;
   text-decoration: underline
}

#global-footer .content {
   margin: 0 auto;
   max-width: 980px;
   padding: 0 22px;
}

@media only screen and (max-width: 767px) {
   #global-footer .content {
      padding: 0 16px;
   }
}

#global-footer .footnote {
   border-bottom: 1px solid #d2d2d7;
   color: #86868b;
   padding: 17px 0 11px
}

#global-footer .footnote ol {
   list-style-position: outside;
   margin: 0;
   padding: 0 17px
}

#global-footer .footnote ol li {
   list-style-type: decimal
}

#global-footer .footnote ul {
   list-style: none;
   margin: 0
}

#global-footer .footnote li {
   padding-bottom: 0.8em
}

#global-footer .footnote p,
#global-footer .footnote li {
   font-size: 12px;
   line-height: 1.33337;
   font-weight: 400;
   letter-spacing: -.01em;
}

#global-footer .footnote small {
   font-size: 1em
}

#global-footer .sitemap-links {
   font-size: 12px;
   line-height: 1.33337;
   font-weight: 400;
   letter-spacing: -.01em;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: nowrap;
   flex-wrap: nowrap;
   padding-top: 20px
}

#global-footer .sitemap-links:last-child {
   padding-bottom: 28px
}

@media only screen and (max-width: 767px) {
   #global-footer .sitemap-links {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column
   }
}

#global-footer .footer-column {
   -ms-flex-preferred-size: 25%;
   flex-basis: 25%
}

@media only screen and (max-width: 767px) {
   #global-footer .footer-column {
      -ms-flex-preferred-size: auto;
      flex-basis: auto
   }
}

#global-footer .column-section {
   pointer-events: none
}

@media only screen and (max-width: 767px) {
   #global-footer .column-section {
      position: relative;
      z-index: 1;
      border-bottom: 1px solid #d2d2d7;
      overflow: hidden;
      pointer-events: auto
   }
}

#global-footer .column-section~.column-section {
   padding-top: 24px
}

@media only screen and (max-width: 767px) {
   #global-footer .column-section~.column-section {
      padding-top: 0
   }
}

#global-footer .section-title {
   font-size: 12px;
   line-height: 1.33337;
   letter-spacing: -.01em;
   font-weight: 600;
   margin-right: 20px;
   margin-bottom: .8em
}

@media only screen and (max-width: 767px) {
   #global-footer .section-title {
      font-weight: 400;
      margin: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      background: #f5f5f7;
      cursor: pointer;
      position: relative;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      z-index: 2
   }

   #global-footer .section-title:hover {
      color: #000
   }

   #global-footer .section-title:after {
      content: '+';
      float: right;
      font-size: 14px;
      font-weight: normal;
      margin-top: -2px;
      margin-right: 8px;
      -webkit-transition: -webkit-transform .3s ease;
      transition: -webkit-transform .3s ease;
      transition: transform .3s ease;
   }
}

#global-footer .section-list {
   margin-right: 20px;
   list-style: none;
   padding: 0
}

@media only screen and (max-width: 767px) {
   #global-footer .section-list {
      margin: 0;
      overflow: hidden;
      padding-top: 5px;
      padding-bottom: 16px;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      visibility: hidden;
      z-index: -1;
      -webkit-transform: translateY(-100px);
      transform: translateY(-100px)
   }
}

#global-footer .section-item {
   display: block;
   pointer-events: auto;
   margin-bottom: .8em
}

@media only screen and (max-width: 767px) {
   #global-footer .section-item {
      margin-bottom: 0
   }
}

#global-footer .section-item:last-child {
   margin-bottom: 0
}

@media only screen and (max-width: 767px) {
   #global-footer .section-link {
      padding: 6px 14px;
      display: block
   }

   #global-footer .section-link:focus {
      outline-offset: -6px
   }
}

#global-footer .nowrap {
   white-space: nowrap
}