.bannerlinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
    width: 100%;
    margin: 0 auto;
    padding: 3px 0;
    background-color: #282c34;
    color: antiquewhite;
}

.item-button {
    display: flex;
    flex-direction: column;
    margin: 3px 10px;
}