.main .tile-cursor {
   -ms-grid-column: 3;
   grid-column: 3;

   -ms-grid-row: 1;
   -ms-grid-row-span: 2;
   grid-row: 1 / span 2
}

.main .cursor-container {
   position: absolute;
   bottom: 0;
   left: 50%;

   -webkit-transform: translateX(-50%);
   transform: translateX(-50%)
}

.main .tile-cursor .tile-image {
   width: 460px;
   height: 650px;
   background-repeat: no-repeat;
   background-image: url("../img/cursor_startframe__fo9q3ysmwqq2_large.jpg");
}

.main .label-bottom {
   -ms-flex-item-align: end;
   align-self: flex-end
}



@media only screen and (max-width: 1068px) {
   .main .cursor-container .tile-image {
      width: 342px;
      height: 270px
   }

   .main .label-bottom {
      margin-bottom: 30px;
   }
}

@media only screen and (max-width: 734px) {
   .main .cursor-container .tile-image {
      width: 376px;
      height: 336px
   }

   .main .label-bottom {
      margin-bottom: 34px
   }
}