.main .module-content {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.main .features-grid {
    margin-left: auto;
    margin-right: auto;
    max-width: 1415px;
    padding: 10px;

    display: grid;
    display: -ms-grid;
    grid-gap: 10px;

    -ms-grid-columns: 1fr 1.035fr 1fr;
    grid-template-columns: 1fr 1.035fr 1fr;
    grid-auto-rows: 320px;
}


@media screen and (max-width: 1440px) and (min-width: 1069px) {
    .main .module-content {
        height: auto
    }
}

@media screen and (max-width: 767px) and (min-width: 735px) {
    .main .module-content {
        height: auto
    }
}

@media screen and (max-width: 734px) and (min-width: 0px) {
    .main .module-content {
        height: 500px
    }
}

@media only screen and (max-width: 1068px) and (max-width: 1068px) {
    .main .features-grid {
        margin-left: auto;
        margin-right: auto;
        width: 692px
    }
}

@media only screen and (max-width: 734px) {
    .main .features-grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-auto-rows: 160px;

        width: auto;
        max-width: 375px
    }
}

@media only screen and (max-width: 320px) {
    .main .features-grid {
        padding: 10px 0
    }
}