.main .tile-lidar {
   -ms-grid-column: 2;
   -ms-grid-column-span: 2;
   grid-column: 2 / span 2;

   -ms-grid-row: 5;
   grid-row: 5
}

.main .tile-lidar .tile-image {
   width: 946px;
   height: 320px;
   background-repeat: no-repeat;
   background-image: url("../img/lidar_scanner__dw1alknfta82_large.jpg")
}


@media only screen and (max-width: 1068px) {
   .main .tile-lidar {
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
      grid-column: 1 / span 2;

      -ms-grid-row: 8;
      grid-row: 8
   }
}

@media only screen and (max-width: 1068px) {
   .main .tile-lidar {
      grid-row: auto
   }
}